/* CadastroForm.css */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
  }
  
  input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  